%Rubik-Medium {
  font-family: 'Rubik-Medium';
  font-weight: 400;
}
%DMSans-Bold {
  font-family: 'DMSans-Bold';
  font-weight: 700;
}
%u-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
}
